<main class="row">
  <div class="col m6 s12 offset-m3 center">
    <div class="col m12 center">
        <i class="material-icons initial-icon">playlist_add_check</i>
    </div>
    <h1>
      Informações Recebidas
    </h1>
    <div>
      <p>Em até 48h daremos um retorno sobre a abertura da sua conta.</p>
      <p>Para receber recomendações de investimentos e começar a investir,precisamos conhecer seu perfil de investidor</p>
      <p>São 4 perguntas, que irão guiar todas as suas decisões de investimentos</p>
    </div>
    <div class="box-buttons">
      <p>Gostaria de responder ao Perfil do Investidor?</p>
      <a class="waves-effect btn-flat btn-pattern space-right">Não</a>
      <a class="waves-effect btn-flat btn-pattern">Sim</a>
    </div>
  </div>  
</main>
